.trynow-inner {
    background-color: var(--primary-color);
}

.trynow-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;
}

.trynow-step-circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trynow-step-circle h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0;
}

.trynow-step-text p {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

.trynow-step-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}